@import url("/_assets/css/fonts.css");

/* General Resets */
body {
	font-family: "Roboto Condensed", sans-serif;
	background: #f0f0f0;
}

@media (min-width: 992px) {
	.alpha {
		padding-left: 0;
	}
	.omega {
		padding-right: 0;
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "FormaDJRText", sans-serif;
}

a {
	color: #4a4a4a;
	text-decoration: none;
}
a:hover {
	color: #e16e4c;
	text-decoration: underline;
}
a.underline {
	color: #e16e4c;
	text-decoration: underline;
}

textarea,
input {
	border: none;
	border-radius: none;
	overflow: auto;
	outline: none;
	outline-color: transparent !important;
	outline-style: none !important;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	resize: none; /*remove the resize handle on the bottom right*/
}
*:focus {
	outline: none !important;
}
button,
.btn {
	border-radius: 0;
	text-transform: uppercase;
	font-family: "Roboto Condensed", sans-serif;
}

.form-control,
.alert {
	border-radius: 0;
}

.alert-secondary {
	background: #efedea;
	border: none;
}

.clear {
	clear: both;
}

.logo {
	background-color: #000;
	margin: 15px 0;
}
.admin-tools {
	margin: 15px 0;
	text-align: right;
}

.header-small-right {
	text-align: center;
	font-size: 0.9rem;
}

.profile-wrapper {
	cursor: pointer;
}

/* Color Fixes */
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
	color: #e16e4c;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	background-color: #e16e4c;
	color: #fff;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
	border-top: none;
	border-bottom: none;
}
.nav-pills .nav-link {
	border-top: none;
	border-right: 1px solid #efedea;
}
.nav-pills .nav-link:last-of-type {
	border-right: none;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	border: none;
}

.btn.disabled,
.btn:disabled {
	color: #6c757d;
}

.btn-primary {
	background-color: #e16e4c;
	border: none;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
	background-color: #333;
	color: #fff;
	border: none;
}

.btn-secondary {
	border: none;
}

.btn-tertiary {
	background-color: #7cc475;
}
.btn-tertiary:hover,
.btn-tertiary:active,
.btn-tertiary:focus,
.btn-tertiary:not(:disabled):not(.disabled).active,
.btn-tertiary:not(:disabled):not(.disabled):active,
.show > .btn-tertiary.dropdown-toggle {
	background-color: #333;
	color: #fff;
	border: none;
}

.btn-give {
	padding: 13px 35px;
	background-color: #e1b525;
	max-height: 50px; /* Match avatar photo hieght */
}
.btn-give:hover {
	background-color: #ae8200;
}

.btn-mixed {
	text-transform: none;
}

.dropdown-item:focus,
.dropdown-item:active {
	background-color: #333;
	color: #fff;
}

/* Always set the map height explicitly to define the size of the div
	* element that contains the map. */
#map {
	height: 100%;
	min-height: 500px;
}

#infowindow {
	width: 300px;
}

.infowindow_profile_avatar {
	border: none;
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

#worship-contain {
	margin: 15px auto 50px;
}

@media (max-width: 991px) {
	.worship-contain--col {
		width: 100%;
		margin-bottom: 14px;
	}
}
/* Tabs */
.tab-nav {
	background: #fff;
}
.tab-content {
	min-height: 500px;
	background: #fff;
	overflow: hidden;
	overflow-y: auto;
}

/* Map */
.map_link {
	cursor: pointer;
}

.infowindow_profile_show {
	padding: 10px;
	background-color: #eeeeee;
	font-size: 0.8rem;
}

.infowindow_prayer_header {
	font-weight: 600;
	font-size: 0.9rem;
	margin-top: 5px;
}

#admin_panel {
	height: 35px;
}

/* Below Video */
.onlineworship-info {
	background: #fff;
	padding: 15px;
}

/* Social Sharing */
.onlineworship-social {
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 25px;
	background-color: #efedea;
	max-width: 300px;
}
.onlineworship-social h3 {
	display: inline-block;
	margin-top: 0;
	margin-right: 20px;
	margin-bottom: 0;
	font-size: 20px;
}
.onlineworship-social .share-button {
	position: relative;
}
.onlineworship-social .facebook {
	margin-right: 20px;
}
.onlineworship-social .email {
	margin-right: 0;
	margin-left: 20px;
}

/* Giving */
.giving-form {
	padding: 15px;
}

/* Chat */
#chat-box-list {
	overflow: auto;
}
#chat-field-box {
	position: sticky;
	top: 0;
	width: 100%;
	background: #efedea;
	padding: 7px 0;
	z-index: 60;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}
.groupchat-input {
	height: 40px;
}

#chatroster {
	overflow: auto;
}
.chatroster-list {
}

.private-chat--list {
	min-width: 300px;
	height: 60vh;
	overflow: auto;
	overflow-x: hidden;
}
.private-chat--btn {
	min-height: 40px;
}

#group_chat_form {
	padding: 0 0.5rem;
}

.groupchat {
	border-top: 1px solid #cccccc;
	padding: 10px 0px;
}
.groupchat:first-of-type {
	border-top: none;
}

.groupchat-main {
	padding: 0 0.5rem;
	min-height: 55px;
}
.groupchat-avatar {
	display: inline;
	width: 45px;
	float: left;
}

.groupchat-avatar--bg {
	margin: 0;
	padding: 0;
	width: 45px;
	height: 45px;
}
.groupchat-message--contain {
	display: block;
	margin-left: 54px;
}
.groupchat-message--info {
	display: block;
}
.groupchat-message--name {
	width: 100%;
	font-family: "FormaDJRText", sans-serif;
	font-size: 1rem;
	line-height: 1.2;
	font-weight: 600;
	word-wrap: break-word;
	color: #4a4a4a;
}
.groupchat-message--loc {
	width: 100%;
	font-family: "FormaDJRText", sans-serif;
	font-size: 0.75rem;
	word-wrap: break-word;
	color: #4a4a4a;
}
.groupchat-message--time {
	font-size: 0.75rem;
	word-wrap: break-word;
	color: #7e7e7e;
}
.groupchat-message--content {
	font-size: 0.875rem;
	line-height: 1.2;
	word-wrap: break-word;
	margin: 0;
	margin-top: -3px;
	padding: 0;
}
.groupchat-message--controls {
	float: right;
	width: 100px;
	margin-left: 14px;
	margin-bottom: 14px;
}
.groupchat-message--controls .person-link {
	width: 100%;
	margin-bottom: 7px;
}

#profile-logout {
	text-align: center;
	padding: 5px 0px;
}

.profile-header {
	line-height: 1;
}

#profile-location {
	line-height: 1;
}

#profile-notsignedin-welcome {
	width: 100%;
	text-align: center;
	padding: 5px 0px;
}

.rostermessage {
	opacity: 1;
	z-index: 10;
	color: rgba(23, 35, 34, 0.75);
	background-color: #efedea;
	width: 100%;
	text-align: center;
	font-size: 0.8rem;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
	padding: 10px 20px;
	position: relative;
	border-bottom: 1px solid #cccccc;
}

#filter-search {
	height: auto;
	border-left: none;
	border-right: none;
}

.online-minister {
	border-top: 1px solid #adb99a;
}

.person {
	border-top: 1px solid #cccccc;
	padding: 7px 14px;
}

.person .avatar-bg {
	float: left;
}

.button-options {
	float: right;
}

.fullname {
	line-height: 1;
}

.person-info {
	font-size: 0.9rem;
}
.person-link {
	color: #fff !important;
	cursor: pointer;
}

.pointer {
	cursor: pointer;
}

.email-info {
	text-align: right;
	font-size: 0.9rem;
}

.mini-profile {
	font-size: 0.9rem;
}

.mini-profile .header {
	font-weight: 600;
	line-height: 1;
}

.mini-profile .body {
	line-height: 1;
	padding-bottom: 10px;
}

#chat-bar {
	background-color: #fff;
	height: 40px;
	bottom: 0;
	z-index: 60;
	width: 98%;
	position: fixed;
}

#chat-left {
	float: left;
	padding: 10px;
	cursor: pointer;
	color: #333;
}

#chat-right {
	float: right;
	padding: 10px;
	cursor: pointer;
	color: #333;
}

.bx-prev,
.bx-next {
	margin-top: -11px;
}

.chat-tab {
	color: #333;
	padding: 7px;
	text-align: center;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	height: 40px;
	cursor: pointer;
	font-size: 14px;
	width: 100px;
	bottom: 16px;
}

.chat-tab h1 {
	/* padding: 7px; */
	font-size: 18px;
	letter-spacing: 0.5px;
	line-height: 15px;
	color: #fff;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	float: left;
	max-width: 80%;
	overflow: hidden;
	height: 100%;
	/* margin: 0 0 18px; */
}

.tab-selected {
	background-color: #efedea;
}

.new-message {
	background-color: #7cc475;
}

.tab-loggedoff {
	background-color: #979797;
	opacity: 0.5;
}

.single-chat-window {
	position: absolute;
	bottom: 56px;
	left: 0px;
	width: auto;
	background: #efedea;
	z-index: 59;
}

.single-chat-window textarea {
	width: 240px;
	background: #fff;
	border: #c4baa8 1px solid;
	margin: 10px 10px 8px 10px;
	display: block;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 6px 10px;
	resize: none;
	font-size: 0.9rem;
	line-height: 14px;
	min-height: 30px;
}

.single-chat-header {
	cursor: pointer;
	background-color: #fff;
	padding: 10px 15px;
	max-width: 260px;
	border: 1px solid #efedea;
}

.single-chat-header h1 {
	font-size: 1rem;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	float: left;
	max-width: 90%;
	overflow: hidden;
	margin: 0;
}

.pchatbox-inside {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border: #c4baa8 1px solid;
}

.chat-close {
	float: right;
	cursor: pointer;
	color: #000;
	font-weight: 700;
}

.chat-close:hover {
	background-position: 0 30px;
	color: #de716f;
	text-decoration: none;
}

#pchatbox {
	background: #fff;
	width: 240px;
	height: 100%;
	min-height: 200px;
	margin: 8px 10px;
}

.chatbox {
	width: 230px;
	height: 250px;
	overflow-y: scroll;
	background-color: white;
	line-height: 1em;
}

.chatbox-text {
	float: left;
	width: 100px;
}

.pchatmsgbox {
	overflow: hidden;
}

.pmsg {
	padding: 0.5rem;
	background-repeat: no-repeat;
	display: inline-block;
}

.pmsg_notification {
	padding: 0 5px;
	font-size: 10px;
}

.pmsg_body_container {
	overflow: hidden;
	color: black;
	width: 162px;
}

.pmsg_me_bg .pmsg_body_container {
	float: left;
}

.pmsg_you_bg .pmsg_body_container {
	float: right;
	padding-left: 4px;
}

.pmsg_body {
	font-size: 0.9rem;
	line-height: 1;
	word-wrap: break-word;
	margin-bottom: 6px;
}

.pmsg_avatar {
	width: 40px;
	font-size: 0.6rem;
}

.pmsg_right_avatar {
	float: right;
	padding-bottom: 2px;
}
.pmsg_left_avatar p {
	text-align: left;
}

.left_avatar {
	float: left;
	margin-right: 1px;
	text-align: left;
}

.right_avatar {
	float: right;
	text-align: right;
}

.pmsg_me_bg {
	background-color: #efedea;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px 0;
	width: 100%;
}

#chat-slider-container li {
	background-color: #fff;
	width: 100px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	height: 40px;
	padding-left: 1px;
	padding-right: 1px;
	float: left;
	overflow: hidden;
}

#chat-slider-container li:hover {
	background-color: #f2f1ef;
}

#chat-slider-container li:active {
	background-color: #efedea;
}

#chat-tab-bar {
	max-width: 75%;
	position: relative;
	float: left;
}

#chat-slider-ul {
	overflow: hidden;
}

@media (max-width: 576px) {
	#chat-bar {
		width: 100%;
		margin-left: -15px;
		height: 60px;
	}
	.chat-tab {
		height: 60px;
		padding-top: 18px;
	}
	.private-chat {
		max-width: 25%;
	}
	.private-chat--btn {
		min-height: 60px;
	}
	#chat-slider-container li {
		height: 60px;
	}
	#chat-slider-ul {
		height: 60px;
	}
	.single-chat-window {
		bottom: 76px;
	}
}

@media (max-width: 768px) {
	.nav-item--user {
		width: 70%;
	}
	.nav-item--give {
		width: 30%;
	}
}

.modal-header {
	cursor: pointer;
}

.nav-link,
.nav-pills .nav-link {
	border-radius: none !important;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

/* Video player mods */
.responsive-video-player {
	padding: 0 0 56.25% 0;
	position: relative;
	height: 0;
	overflow: hidden;
}
.responsive-video-player iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* DARK THEME */
.dark {
	background-color: #333;
}
